body{
      margin: 0;
      font-family: sans-serif;
      background-color: #ccc;
}

.grid{
      display: grid;      
      grid-template-columns: repeat(auto-fill, minmax(250px,1fr));      
      grid-auto-rows: 1fr; 
      grid-auto-flow: row; 
      grid-auto-columns: 1fr;       
      margin: auto;                  
      gap: 10px;
      padding: 10px
}

.grid-item{
      background-color: #48e;            
      font-size: 30px;
      color: #fff;
      max-width: 100%;
      border-radius: 16px;
}

.grid-item:first-child {
      /*grid-column-start: 2;*/ /* Le indico en que columna empieza */
      /*grid-row-start: 2;*/ /* Le indico en que fila empieza */
      /*grid-column-end: 3;*/ /* Le indico en que columna finaliza */
      /*grid-column-end: span 2;*/ /* Le indico la cantidad de columna que ocupa */
      /*grid-row-end: 3;*/ /* Le indico en que fila finaliza */
      /*grid-row-end: span 2;*/ /* Le indico en que fila finaliza */
      /* Otra forma */
      grid-column: 1/span 2;
      grid-row: 1/span 2;
      object-fit: cover;
      height: 100%;
}

.grid-item:hover{
      opacity: 0.6;
}