body {
  background-color: lightgray;
}
@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
}

.red-text {
  color: red;
}

.blue {
  color: blue;
}

.yellow-bg {
  background-color: yellow;
}

.green-border {
  border: 2px solid green;
}