body, div{
      box-sizing: border-box; 
}

.flexbox{
      display: flex;            
      flex-flow: row wrap; 
      border: #000 solid 1px;      
      margin: 20px;            
      height: 400px;
}      

.flex-item{      
      text-align: center;
      background-color: #800;       
      font-size: 40px;
      color:#fff;
      width: 200px;
      direction: rtl;      
      flex: 1 0 150px

} 

.flex-item:nth-child(odd){
      background-color: #f77;  
}

.flex-item:nth-child(even){
      background-color: brown;            
}     

.item-5{
    align-self: end; /* Permite manejar la alineacion de un solo elemento */
}