body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #ccc;
}

.modal{
    position: absolute;
    background-color: #0009;
    width: 100vw;    
    height: 100vw;    
}

.modal__content{
    background-color: #fff;
}