body{
      margin: 0px;
      font-family: sans-serif;
      background-color:grey
}

.box{
      width: 200px;
      height: 200px;
      background-color: red;
      margin: auto;
      margin-top: 50px;
      font-size: 20px;  
      text-align: center;
}

.box:hover{
      background-color: #a22;
      color: #fff
}     