body{
    margin: 0;
    font-family: sans-serif;
}

div, body{
    box-sizing: border-box;
    
}

.flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.bloque{
    min-width: 150px;
    /*max-width: 200px;*/
    background-color: #7bf;
    margin: auto;
    display: inline-block;
    width: 100%;
    flex: 1;  
    font-size: 12px;
    padding: 10px;
    margin: 4px;
}

