doctype html
html(lang="en")
      head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet", href="css/style.css")
            title Pagina PUG
      body 
          h1 Pug con Gulp
          h2 Hola Mundo
          p.blue Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  

          h2 Segunda parrafo
          script(src="js/script.js")
          
          