body{
      margin:0;
      font-family: sans-serif;
      background-color: #ccc;
}

.grid{
      display: grid;      
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,200px);
      grid-auto-rows: 150px; 
      grid-auto-columns: 100px;
      grid-auto-flow: rows; 
      border: 3px solid #000;
      column-gap: 10px; /* Separacion entre columnas */
      row-gap: 10px; /* Separacion entre filas */
      padding: 20px;
      width: 90vw;
      margin: auto;
      background-color: #fff;
      margin-top: 30px; 
      /*gap: 20px */ /* Resumen las dos sentencias */

      
}

.grid-item{
      background-color: #48e;      
      font-size: 30px;
      color: #fff
}