/**
   la propiedad background engloba todas las propiedades background como por ejemplo  background-color

*/

body {
      background-color: greenyellow;
      margin:0
}

.box2 {
      width: 300px;
      height: 300px;      
      margin: 20px;
      margin: 0;
}
.box{
       /*width: 100%;*/
      width: 300px;
      height: 300px;      
      margin: 20px;
      margin: 0;
      /*background-color: #f3a1; 
      /* Los primeros tres valores son los colores rojo, verde y azul (RGB) */
      /* El cuarto valor es la opacidad */

      background-size: 100%; /* Ajusta la imagen al tamaño del contenedor */
      /*background-size: 100px; /* Ajusta la imagen al tamaño del contenedor */

      /*background-size: 'contain'; /* Ajusta la imagen al tamaño del contenedor */
      /*background-size: 'cover'; /* Cubre todo el contenedor, manteniendo la proporción de la imagen */
      background-repeat: no-repeat; /* Evita que la imagen se repita si no cubre todo el espacio */
      background-position: center; /* Centra la imagen dentro del contenedor */

      background-image: url(../../IMAGENES/starWar-2.jpg);
      /* Se puede usar una imagen de fondo */
      background-attachment: fixed; /* La imagen de fondo se fija al viewport, no se desplaza con el contenido */      
}