/**
   la propiedad background engloba todas las propiedades background como por ejemplo  background-color

*/

.body {
      background-color: greenyellow;
}
.box{
      width: 200px;
      height: 200px;
      margin: 20px;
      background-color: #f3a;

}