body{
      margin: 0;
      font-family: sans-serif;
      background-color: #ccc;
}



.grid{
      display: grid;      
      grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
      /* la otra opcion es auto-fit  permite rellenar */     
      /* la otra opcion es auto-fill que permite crear columna */
      /* grid-template-rows: repeat(3, 200px);*/
      grid-auto-rows: 1fr; 
      grid-auto-flow: row; 
      grid-auto-columns: 1fr;       
      margin: auto;                  
      gap: 10px;
      padding: 10px
}

.grid-item{
      background-color: #48e;            
      font-size: 30px;
      color: #fff;
      border-radius: 16px;
}

.grid-item:hover{
      opacity: 0.6;
}
