body{
      background-color: #ccc;
      margin:0;
      font-family: sans-serif;      
}

.container {
      container-type: inline-size;      
      container-name: main;
}

p {
      font-size: 3px;
}

@container main ( max-width: 500px) {
      .container {
            p{
                  font-size: 20px;
                  color:red;
                  background-color: black ;
            }
      }      
}